openapi: 3.0.2
info:
  title: Reddit API
  version: TODO
  description: >-
    An OpenAPIv3 schema for Reddit's public API endpoints, automatically
    generated from Reddit's automatically generated API documentation.
  contact:
    url: 'https://github.com/danopia/various-openapi-schemas'
servers:
  - url: 'https://oauth.reddit.com'
    description: Accepts authenticated requests that contain a bearer token.
  - url: 'https://www.reddit.com'
    description: Accepts authentication flow (and anonymous) requests.
components:
  securitySchemes:
    redditOAuth:
      type: oauth2
      description: 'https://github.com/reddit-archive/reddit/wiki/OAuth2'
      flows:
        authorizationCode:
          authorizationUrl: 'https://www.reddit.com/api/v1/authorize'
          tokenUrl: 'https://www.reddit.com/api/v1/access_token'
          scopes: &ref_0
            creddits: Spend my reddit gold creddits on giving gold to other users.
            modnote: Access mod notes for subreddits I moderate.
            modcontributors: >-
              Add/remove users to approved user lists and ban/unban or
              mute/unmute users from subreddits I moderate.
            modmail: Access and manage modmail via mod.reddit.com.
            modconfig: >-
              Manage the configuration, sidebar, and CSS of subreddits I
              moderate.
            subscribe: >-
              Manage my subreddit subscriptions. Manage "friends" - users whose
              content I follow.
            structuredstyles: Edit structured styles for a subreddit I moderate.
            vote: Submit and change my votes on comments and submissions.
            wikiedit: Edit wiki pages on my behalf
            mysubreddits: >-
              Access the list of subreddits I moderate, contribute to, and
              subscribe to.
            submit: Submit links and comments from my account.
            modlog: Access the moderation log in subreddits I moderate.
            modposts: >-
              Approve, remove, mark nsfw, and distinguish content in subreddits
              I moderate.
            modflair: Manage and assign flair in subreddits I moderate.
            save: Save and unsave comments and submissions.
            modothers: Invite or remove other moderators from subreddits I moderate.
            read: Access posts and comments through my account.
            privatemessages: Access my inbox and send private messages to other users.
            report: >-
              Report content for rules violations. Hide &amp; show individual
              submissions.
            identity: Access my reddit username and signup date.
            livemanage: Manage settings and contributors of live threads I contribute to.
            account: >-
              Update preferences and related account information. Will not have
              access to your email or password.
            modtraffic: Access traffic stats in subreddits I moderate.
            wikiread: Read wiki pages through my account
            edit: Edit and delete my comments and submissions.
            modwiki: >-
              Change editors and visibility of wiki pages in subreddits I
              moderate.
            modself: >-
              Accept invitations to moderate a subreddit. Remove myself as a
              moderator or contributor of subreddits I moderate or contribute
              to.
            history: >-
              Access my voting history and comments or submissions I've saved or
              hidden.
            flair: Select my subreddit flair. Change link flair on my submissions.
        implicit:
          authorizationUrl: 'https://www.reddit.com/api/v1/authorize'
          scopes: *ref_0
    oauthClientSecret:
      type: http
      scheme: basic
tags:
  - name: account
  - name: captcha
  - name: collections
  - name: emoji
  - name: flair
  - name: reddit gold
  - name: links & comments
  - name: listings
  - name: live threads
    description: >-
      Real-time updates on reddit. 

      In addition to the standard reddit API, WebSockets play a huge role in
      reddit live. Receiving push notification of changes to the thread via
      websockets is much better than polling the thread repeatedly. 

      To connect to the websocket server, fetch /live/thread/about.json and get
      the websocket_url field. The websocket URL expires after a period of time;
      if it does, fetch a new one from that endpoint. 

      Once connected to the socket, a variety of messages can come in. All
      messages will be in text frames containing a JSON object with two keys:
      type and payload. Live threads can send messages with many types: 
       
      update - a new update has been posted in the thread. the payload contains
      the JSON representation of the update. 

      activity - periodic update of the viewer counts for the thread. 

      settings - the thread's settings have changed. the payload is an object
      with each key being a property of the thread (as in about.json) and its
      new value. 

      delete - an update has been deleted (removed from the thread). the payload
      is the ID of the deleted update. 

      strike - an update has been stricken (marked incorrect and crossed out).
      the payload is the ID of the stricken update. 

      embeds_ready - a previously posted update has been parsed and embedded
      media is available for it now. the payload contains a liveupdate_id and
      list of embeds to add to it. 

      complete - the thread has been marked complete. no further updates will be
      sent.  

      See /r/live for more information.  
  - name: private messages
  - name: misc
  - name: moderation
  - name: new modmail
  - name: modnote
  - name: multis
  - name: search
  - name: subreddits
  - name: users
  - name: widgets
  - name: wiki
paths:
  /api/v1/access_token:
    post:
      operationId: POST_api_v1_access_token
      summary: Complete an OAuth flow to receive a bearer token
      servers:
        - url: 'https://www.reddit.com'
          description: Accepts authentication requests.
      externalDocs:
        url: 'https://github.com/reddit-archive/reddit/wiki/OAuth2'
      security:
        - oauthClientSecret: []
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
                - grant_type
              properties:
                grant_type:
                  type: string
                  enum:
                    - authorization_code
                    - refresh_token
                    - client_credentials
                    - 'https://oauth.reddit.com/grants/installed_client'
                code:
                  type: string
                  description: Required for grant_type=authorization_code
                redirect_uri:
                  type: string
                  description: Required for grant_type=authorization_code
                refresh_token:
                  type: string
                  description: Required for grant_type=refresh_token
                device_id:
                  type: string
                  description: Optional for grant_type=.../installed_client
      responses:
        '200':
          description: Contains an access token for use in future API calls
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_token:
                    type: string
                  token_type:
                    type: string
                    enum:
                      - bearer
                  expires_in:
                    type: integer
                  scope:
                    type: string
                  refresh_token:
                    type: string
                required:
                  - access_token
                  - token_type
                  - expires_in
                  - scope
        '401':
          description: Client credentials sent as HTTP Basic Authorization were invalid
  /api/v1/revoke_token:
    post:
      operationId: POST_api_v1_revoke_token
      summary: Revokes a bearer token so that it cannot be used anymore
      servers:
        - url: 'https://www.reddit.com'
          description: Accepts authentication requests.
      externalDocs:
        url: >-
          https://github.com/reddit-archive/reddit/wiki/OAuth2#manually-revoking-a-token
      security:
        - oauthClientSecret: []
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
                - token
              properties:
                token:
                  type: string
                token_type_hint:
                  type: string
                  enum:
                    - access_token
                    - refresh_token
      responses:
        '204':
          description: It worked
        '401':
          description: Client credentials sent as HTTP Basic Authorization were invalid
  /api/v1/me.json:
    get:
      operationId: GET_api_v1_me
      security:
        - redditOAuth:
            - identity
      description: Returns the identity of the user.
      tags:
        - account
      responses:
        '200':
          description: TODO
          content:
            application/json: {}
      parameters: []
  /api/v1/me/karma.json:
    get:
      operationId: GET_api_v1_me_karma
      security:
        - redditOAuth:
            - mysubreddits
      description: Return a breakdown of subreddit karma.
      tags:
        - account
      responses:
        '200':
          description: TODO
          content:
            application/json: {}
      parameters: []
  /api/v1/me/prefs.json:
    get:
      operationId: GET_api_v1_me_prefs
      security:
        - redditOAuth:
            - identity
      description: Return the preference settings of the logged in user
      tags:
        - account
      responses:
        '200':
          description: TODO
          content:
            application/json: {}
      parameters:
        - name: fields
          in: query
          description: |-
            A comma-separated list of items from this set: 
            beta
             threaded_messages
             hide_downs
             nightmode
             third_party_site_data_personalized_ads
             activity_relevant_ads
             show_stylesheets
             profile_opt_out
             bad_comment_autocollapse
             third_party_site_data_personalized_content
             show_link_flair
             creddit_autorenew
             show_trending
             top_karma_subreddits
             country_code
             theme_selector
             monitor_mentions
             email_comment_reply
             research
             email_new_user_welcome
             ignore_suggested_sort
             show_presence
             email_upvote_comment
             email_digests
             private_feeds
             num_comments
             feed_recommendations_enabled
             clickgadget
             use_global_defaults
             label_nsfw
             domain_details
             email_messages
             live_orangereds
             highlight_controversial
             mark_messages_read
             no_profanity
             email_unsubscribe_all
             lang
             in_redesign_beta
             live_bar_recommendations_enabled
             third_party_data_personalized_ads
             email_chat_request
             allow_clicktracking
             hide_from_robots
             show_gold_expiration
             show_twitter
             compress
             store_visits
             video_autoplay
             email_upvote_post
             email_username_mention
             other_theme
             media_preview
             email_user_new_follower
             hide_ups
             enable_default_themes
             geopopular
             organic
             survey_last_seen_time
             threaded_modmail
             enable_followers
             show_promote
             min_comment_score
             public_votes
             show_location_based_recommendations
             email_post_reply
             collapse_read_messages
             show_flair
             send_crosspost_messages
             search_include_over_18
             hide_ads
             third_party_personalized_ads
             min_link_score
             over_18
             newwindow
             numsites
             media
             legacy_search
             email_private_message
             send_welcome_messages
             email_community_discovery
             highlight_new_comments
             default_comment_sort
             accept_pms
    patch:
      operationId: PATCH_api_v1_me_prefs
      security:
        - redditOAuth:
            - account
      description: ''
      tags:
        - account
      responses:
        '200':
          description: TODO
          content:
            application/json: {}
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties: {}
              description: >-
                { "accept_pms": one of (`everyone`, `whitelisted`),
                "activity_relevant_ads": boolean value, "allow_clicktracking":
                boolean value, "bad_comment_autocollapse": one of (`off`, `low`,
                `medium`, `high`), "beta": boolean value, "clickgadget": boolean
                value, "collapse_read_messages": boolean value, "compress":
                boolean value, "country_code": one of (`WF`, `JP`, `JM`, `JO`,
                `WS`, `JE`, `GW`, `GU`, `GT`, `GS`, `GR`, `GQ`, `GP`, `GY`,
                `GG`, `GF`, `GE`, `GD`, `GB`, `GA`, `GN`, `GM`, `GL`, `GI`,
                `GH`, `PR`, `PS`, `PW`, `PT`, `PY`, `PA`, `PF`, `PG`, `PE`,
                `PK`, `PH`, `PN`, `PL`, `PM`, `ZM`, `ZA`, `ZZ`, `ZW`, `ME`,
                `MD`, `MG`, `MF`, `MA`, `MC`, `MM`, `ML`, `MO`, `MN`, `MH`,
                `MK`, `MU`, `MT`, `MW`, `MV`, `MQ`, `MP`, `MS`, `MR`, `MY`,
                `MX`, `MZ`, `FR`, `FI`, `FJ`, `FK`, `FM`, `FO`, `CK`, `CI`,
                `CH`, `CO`, `CN`, `CM`, `CL`, `CC`, `CA`, `CG`, `CF`, `CD`,
                `CZ`, `CY`, `CX`, `CR`, `CW`, `CV`, `CU`, `SZ`, `SY`, `SX`,
                `SS`, `SR`, `SV`, `ST`, `SK`, `SJ`, `SI`, `SH`, `SO`, `SN`,
                `SM`, `SL`, `SC`, `SB`, `SA`, `SG`, `SE`, `SD`, `YE`, `YT`,
                `LB`, `LC`, `LA`, `LK`, `LI`, `LV`, `LT`, `LU`, `LR`, `LS`,
                `LY`, `VA`, `VC`, `VE`, `VG`, `IQ`, `VI`, `IS`, `IR`, `IT`,
                `VN`, `IM`, `IL`, `IO`, `IN`, `IE`, `ID`, `BD`, `BE`, `BF`,
                `BG`, `BA`, `BB`, `BL`, `BM`, `BN`, `BO`, `BH`, `BI`, `BJ`,
                `BT`, `BV`, `BW`, `BQ`, `BR`, `BS`, `BY`, `BZ`, `RU`, `RW`,
                `RS`, `RE`, `RO`, `OM`, `HR`, `HT`, `HU`, `HK`, `HN`, `HM`,
                `EH`, `EE`, `EG`, `EC`, `ET`, `ES`, `ER`, `UY`, `UZ`, `US`,
                `UM`, `UG`, `UA`, `VU`, `NI`, `NL`, `NO`, `NA`, `NC`, `NE`,
                `NF`, `NG`, `NZ`, `NP`, `NR`, `NU`, `XK`, `XZ`, `XX`, `KG`,
                `KE`, `KI`, `KH`, `KN`, `KM`, `KR`, `KP`, `KW`, `KZ`, `KY`,
                `DO`, `DM`, `DJ`, `DK`, `DE`, `DZ`, `TZ`, `TV`, `TW`, `TT`,
                `TR`, `TN`, `TO`, `TL`, `TM`, `TJ`, `TK`, `TH`, `TF`, `TG`,
                `TD`, `TC`, `AE`, `AD`, `AG`, `AF`, `AI`, `AM`, `AL`, `AO`,
                `AN`, `AQ`, `AS`, `AR`, `AU`, `AT`, `AW`, `AX`, `AZ`, `QA`),
                "creddit_autorenew": boolean value, "default_comment_sort": one
                of (`confidence`, `top`, `new`, `controversial`, `old`,
                `random`, `qa`, `live`), "domain_details": boolean value,
                "email_chat_request": boolean value, "email_comment_reply":
                boolean value, "email_community_discovery": boolean value,
                "email_digests": boolean value, "email_messages": boolean value,
                "email_new_user_welcome": boolean value, "email_post_reply":
                boolean value, "email_private_message": boolean value,
                "email_unsubscribe_all": boolean value, "email_upvote_comment":
                boolean value, "email_upvote_post": boolean value,
                "email_user_new_follower": boolean value,
                "email_username_mention": boolean value,
                "enable_default_themes": boolean value, "enable_followers":
                boolean value, "feed_recommendations_enabled": boolean value,
                "g": one of (`GLOBAL`, `US`, `AR`, `AU`, `BG`, `CA`, `CL`, `CO`,
                `HR`, `CZ`, `FI`, `FR`, `DE`, `GR`, `HU`, `IS`, `IN`, `IE`,
                `IT`, `JP`, `MY`, `MX`, `NZ`, `PH`, `PL`, `PT`, `PR`, `RO`,
                `RS`, `SG`, `ES`, `SE`, `TW`, `TH`, `TR`, `GB`, `US_WA`,
                `US_DE`, `US_DC`, `US_WI`, `US_WV`, `US_HI`, `US_FL`, `US_WY`,
                `US_NH`, `US_NJ`, `US_NM`, `US_TX`, `US_LA`, `US_NC`, `US_ND`,
                `US_NE`, `US_TN`, `US_NY`, `US_PA`, `US_CA`, `US_NV`, `US_VA`,
                `US_CO`, `US_AK`, `US_AL`, `US_AR`, `US_VT`, `US_IL`, `US_GA`,
                `US_IN`, `US_IA`, `US_OK`, `US_AZ`, `US_ID`, `US_CT`, `US_ME`,
                `US_MD`, `US_MA`, `US_OH`, `US_UT`, `US_MO`, `US_MN`, `US_MI`,
                `US_RI`, `US_KS`, `US_MT`, `US_MS`, `US_SC`, `US_KY`, `US_OR`,
                `US_SD`), "hide_ads": boolean value, "hide_downs": boolean
                value, "hide_from_robots": boolean value, "hide_ups": boolean
                value, "highlight_controversial": boolean value,
                "highlight_new_comments": boolean value,
                "ignore_suggested_sort": boolean value, "in_redesign_beta":
                boolean value, "label_nsfw": boolean value, "lang": a valid IETF
                language tag (underscore separated), "legacy_search": boolean
                value, "live_bar_recommendations_enabled": boolean value,
                "live_orangereds": boolean value, "mark_messages_read": boolean
                value, "media": one of (`on`, `off`, `subreddit`),
                "media_preview": one of (`on`, `off`, `subreddit`),
                "min_comment_score": an integer between -100 and 100,
                "min_link_score": an integer between -100 and 100,
                "monitor_mentions": boolean value, "newwindow": boolean value,
                "nightmode": boolean value, "no_profanity": boolean value,
                "num_comments": an integer between 1 and 500, "numsites": an
                integer between 1 and 100, "organic": boolean value,
                "other_theme": subreddit name, "over_18": boolean value,
                "private_feeds": boolean value, "profile_opt_out": boolean
                value, "public_votes": boolean value, "research": boolean value,
                "search_include_over_18": boolean value,
                "send_crosspost_messages": boolean value,
                "send_welcome_messages": boolean value, "show_flair": boolean
                value, "show_gold_expiration": boolean value, "show_link_flair":
                boolean value, "show_location_based_recommendations": boolean
                value, "show_presence": boolean value, "show_promote": boolean
                value, "show_stylesheets": boolean value, "show_trending":
                boolean value, "show_twitter": boolean value, "store_visits":
                boolean value, "survey_last_seen_time": an integer,
                "theme_selector": subreddit name,
                "third_party_data_personalized_ads": boolean value,
                "third_party_personalized_ads": boolean value,
                "third_party_site_data_personalized_ads": boolean value,
                "third_party_site_data_personalized_content": boolean value,
                "threaded_messages": boolean value, "threaded_modmail": boolean
                value, "top_karma_subreddits": boolean value,
                "use_global_defaults": boolean value, "video_autoplay": boolean
                value, }
  /api/v1/me/trophies.json:
    get:
      operationId: GET_api_v1_me_trophies
      security:
        - redditOAuth:
            - identity
      description: Return a list of trophies for the current user.
      tags:
        - account
      responses:
        '200':
          description: TODO
          content:
            application/json: {}
      parameters: []
  /prefs/friends.json:
    get:
      operationId: GET_prefs_friends
      security: &ref_1
        - redditOAuth:
            - read
      description: This endpoint is a listing.
      tags: &ref_2
        - account
      responses: &ref_3
        '200':
          description: TODO
          content:
            application/json: {}
      parameters:
        - &ref_4
          name: after
          in: query
          description: fullname of a thing
        - &ref_5
          name: before
          in: query
          description: fullname of a thing
        - &ref_6
          name: count
          in: query
          description: 'a positive integer (default: 0)'
        - &ref_7
          name: limit
          in: query
          description: 'the maximum number of items desired (default: 25, maximum: 100)'
        - &ref_8
          name: show
          in: query
          description: (optional) the string all
        - &ref_9
          name: sr_detail
          in: query
          description: (optional) expand subreddits
  /prefs/blocked.json:
    get:
      operationId: GET_prefs_blocked
      security: *ref_1
      description: This endpoint is a listing.
      tags: *ref_2
      responses: *ref_3
      parameters:
        - *ref_4
        - *ref_5
        - *ref_6
        - *ref_7
        - *ref_8
        - *ref_9
  /prefs/messaging.json:
    get:
      operationId: GET_prefs_messaging
      security: *ref_1
      description: This endpoint is a listing.
      tags: *ref_2
      responses: *ref_3
      parameters:
        - *ref_4
        - *ref_5
        - *ref_6
        - *ref_7
        - *ref_8
        - *ref_9
  /prefs/trusted.json:
    get:
      operationId: GET_prefs_trusted
      security: *ref_1
      description: This endpoint is a listing.
      tags: *ref_2
      responses: *ref_3
      parameters:
        - *ref_4
        - *ref_5
        - *ref_6
        - *ref_7
        - *ref_8
        - *ref_9
  /api/v1/me/friends.json:
    get:
      operationId: GET_api_v1_me_friends
      security: *ref_1
      description: This endpoint is a listing.
      tags: *ref_2
      responses: *ref_3
      parameters:
        - *ref_4
        - *ref_5
        - *ref_6
        - *ref_7
        - *ref_8
        - *ref_9
  /api/v1/me/blocked.json:
    get:
      operationId: GET_api_v1_me_blocked
      security: *ref_1
      description: This endpoint is a listing.
      tags: *ref_2
      responses: *ref_3
      parameters:
        - *ref_4
        - *ref_5
        - *ref_6
        - *ref_7
        - *ref_8
        - *ref_9
  /api/needs_captcha.json:
    get:
      operationId: GET_api_needs_captcha
      security:
        - redditOAuth:
            - any
      description: Check whether ReCAPTCHAs are needed for API methods
      tags:
        - captcha
      responses:
        '200':
          description: TODO
          content:
            application/json: {}
      parameters: []
  /api/v1/collections/add_post_to_collection.json:
    post:
      operationId: POST_api_v1_collections_add_post_to_collection
      security:
        - redditOAuth:
            - modposts
      description: Add a post to a collection
      tags:
        - collections
      responses:
        '200':
          description: TODO
          content:
            application/json: {}
      parameters:
        - name: collection_id
          in: query
          description: the UUID of a collection
        - name: link_fullname
          in: query
          description: a fullname of a link
        - name: uh / X-Modhash header
          in: query
          description: a modhash
  /api/v1/collections/collection.json:
    get:
      operationId: GET_api_v1_collections_collection
      security:
        - redditOAuth:
            - read
      description: Fetch a collection including all the links
      tags:
        - collections
      responses:
        '200':
          description: TODO
          content:
            application/json: {}
      parameters:
        - name: collection_id
          in: query
          description: the UUID of a collection
        - name: include_links
          in: query
          description: boolean value
  /api/v1/collections/create_collection.json:
    post:
      operationId: POST_api_v1_collections_create_collection
      security:
        - redditOAuth:
            - modposts
      description: Create a collection
      tags:
        - collections
      responses:
        '200':
          description: TODO
          content:
            application/json: {}
      parameters:
        - name: description
          in: query
          description: a string no longer than 500 characters
        - name: display_layout
          in: query
          description: 'one of (TIMELINE, GALLERY)'
        - name: sr_fullname
          in: query
          description: a fullname of a subreddit
        - name: title
          in: query
          description: title of the submission. up to 300 characters long
        - name: uh / X-Modhash header
          in: query
          description: a modhash
  /api/v1/collections/delete_collection.json:
    post:
      operationId: POST_api_v1_collections_delete_collection
      security:
        - redditOAuth:
            - modposts
      description: Delete a collection
      tags:
        - collections
      responses:
        '200':
          description: TODO
          content:
            application/json: {}
      parameters:
        - name: collection_id
          in: query
          description: the UUID of a collection
        - name: uh / X-Modhash header
          in: query
          description: a modhash
  /api/v1/collections/follow_collection.json:
    post:
      operationId: POST_api_v1_collections_follow_collection
      security:
        - redditOAuth:
            - subscribe
      description: >-
        Follow or unfollow a collection 

        To follow, follow should be True. To unfollow, follow should be False.
        The user must have access to the subreddit to be able to follow a
        collection within it.
      tags:
        - collections
      responses:
        '200':
          description: TODO
          content:
            application/json: {}
      parameters:
        - name: collection_id
          in: query
          description: the UUID of a collection
        - name: follow
          in: query
          description: boolean value
        - name: uh / X-Modhash header
          in: query
          description: a modhash
  /api/v1/collections/remove_post_in_collection.json:
    post:
      operationId: POST_api_v1_collections_remove_post_in_collection
      security:
        - redditOAuth:
            - modposts
      description: Remove a post from a collection
      tags:
        - collections
      responses:
        '200':
          description: TODO
          content:
            application/json: {}
      parameters:
        - name: collection_id
          in: query
          description: the UUID of a collection
        - name: link_fullname
          in: query
          description: a fullname of a link
        - name: uh / X-Modhash header
          in: query
          description: a modhash
  /api/v1/collections/reorder_collection.json:
    post:
      operationId: POST_api_v1_collections_reorder_collection
      security:
        - redditOAuth:
            - modposts
      description: Reorder posts in a collection
      tags:
        - collections
      responses:
        '200':
          description: TODO
          content:
            application/json: {}
      parameters:
        - name: collection_id
          in: query
          description: the UUID of a collection
        - name: link_ids
          in: query
          description: the list of comma seperated link_ids in the order to set them in
        - name: uh / X-Modhash header
          in: query
          description: a modhash
  /api/v1/collections/subreddit_collections.json:
    get:
      operationId: GET_api_v1_collections_subreddit_collections
      security:
        - redditOAuth:
            - read
      description: Fetch collections for the subreddit
      tags:
        - collections
      responses:
        '200':
          description: TODO
          content:
            application/json: {}
      parameters:
        - name: sr_fullname
          in: query
          description: a fullname of a subreddit
  /api/v1/collections/update_collection_description.json:
    post:
      operationId: POST_api_v1_collections_update_collection_description
      security:
        - redditOAuth:
            - modposts
      description: Update a collection's description
      tags:
        - collections
      responses:
        '200':
          description: TODO
          content:
            application/json: {}
      parameters:
        - name: collection_id
          in: query
          description: the UUID of a collection
        - name: description
          in: query
          description: a string no longer than 500 characters
        - name: uh / X-Modhash header
          in: query
          description: a modhash
  /api/v1/collections/update_collection_display_layout.json:
    post:
      operationId: POST_api_v1_collections_update_collection_display_layout
      security:
        - redditOAuth:
            - modposts
      description: Update a collection's display layout
      tags:
        - collections
      responses:
        '200':
          description: TODO
          content:
            application/json: {}
      parameters:
        - name: collection_id
          in: query
          description: the UUID of a collection
        - name: display_layout
          in: query
          description: 'one of (TIMELINE, GALLERY)'
        - name: uh / X-Modhash header
          in: query
          description: a modhash
  /api/v1/collections/update_collection_title.json:
    post:
      operationId: POST_api_v1_collections_update_collection_title
      security:
        - redditOAuth:
            - modposts
      description: Update a collection's title
      tags:
        - collections
      responses:
        '200':
          description: TODO
          content:
            application/json: {}
      parameters:
        - name: collection_id
          in: query
          description: the UUID of a collection
        - name: title
          in: query
          description: title of the submission. up to 300 characters long
        - name: uh / X-Modhash header
          in: query
          description: a modhash
  '/api/v1/{subreddit}/emoji.json':
    post:
      operationId: 'POST_api_v1_{subreddit}_emoji.json'
      security:
        - redditOAuth:
            - structuredstyles
      description: >-
        Add an emoji to the DB by posting a message on emoji_upload_q. A job
        processor that listens on a queue, uses the s3_key provided in the
        request to locate the image in S3 Temp Bucket and moves it to the PERM
        bucket. It also adds it to the DB using name as the column and
        sr_fullname as the key and sends the status on the websocket URL that is
        provided as part of this response. 

        This endpoint should also be used to update custom subreddit emojis with
        new images. If only the permissions on an emoji require updating the
        POST_emoji_permissions endpoint should be requested, instead.
      tags:
        - emoji
      responses:
        '200':
          description: TODO
          content:
            application/json: {}
      parameters:
        - name: mod_flair_only
          in: query
          description: boolean value
        - name: name
          in: query
          description: >-
            Name of the emoji to be created. It can be alphanumeric without any
            special characters except '-' & '_' and cannot exceed 24 characters.
        - name: post_flair_allowed
          in: query
          description: boolean value
        - name: s3_key
          in: query
          description: >-
            S3 key of the uploaded image which can be obtained from the S3 url.
            This is of the form subreddit/hash_value.
        - name: user_flair_allowed
          in: query
          description: boolean value
        - in: path
          name: subreddit
          schema:
            type: string
  '/api/v1/{subreddit}/emoji/{emoji_name}.json':
    delete:
      operationId: 'DELETE_api_v1_{subreddit}_emoji_{emoji_name}'
      security:
        - redditOAuth:
            - structuredstyles
      description: >-
        Delete a Subreddit emoji. Remove the emoji from Cassandra and purge the
        assets from S3 and the image resizing provider.
      tags:
        - emoji
      responses:
        '200':
          description: TODO
          content:
            application/json: {}
      parameters:
        - in: path
          name: subreddit
          schema:
            type: string
        - in: path
          name: emoji_name
          schema:
            type: string
  '/api/v1/{subreddit}/emoji_asset_upload_s3.json':
    post:
      operationId: 'POST_api_v1_{subreddit}_emoji_asset_upload_s3.json'
      security:
        - redditOAuth:
            - structuredstyles
      description: >-
        Acquire and return an upload lease to s3 temp bucket. The return value
        of this function is a json object containing credentials for uploading
        assets to S3 bucket, S3 url for upload request and the key to use for
        uploading. Using this lease the client will upload the emoji image to S3
        temp bucket (included as part of the S3 URL). 

        This lease is used by S3 to verify that the upload is authorized.
      tags:
        - emoji
      responses:
        '200':
          description: TODO
          content:
            application/json: {}
      parameters:
        - name: filepath
          in: query
          description: name and extension of the image file e.g. image1.png
        - name: mimetype
          in: query
          description: mime type of the image e.g. image/png
        - in: path
          name: subreddit
          schema:
            type: string
  '/api/v1/{subreddit}/emoji_custom_size.json':
    post:
      operationId: 'POST_api_v1_{subreddit}_emoji_custom_size'
      security:
        - redditOAuth:
            - structuredstyles
      description: |-
        Set custom emoji size. 
        Omitting width or height will disable custom emoji sizing.
      tags:
        - emoji
      responses:
        '200':
          description: TODO
          content:
            application/json: {}
      parameters:
        - name: height
          in: query
          description: 'an integer between 1 and 40 (default: 0)'
        - name: width
          in: query
          description: 'an integer between 1 and 40 (default: 0)'
        - in: path
          name: subreddit
          schema:
            type: string
  '/api/v1/{subreddit}/emojis/all.json':
    get:
      operationId: 'GET_api_v1_{subreddit}_emojis_all'
      security:
        - redditOAuth:
            - read
      description: >-
        Get all emojis for a SR. The response inclueds snoomojis as well as
        emojis for the SR specified in the request. 

        The response has 2 keys: - snoomojis - SR emojis
      tags:
        - emoji
      responses:
        '200':
          description: TODO
          content:
            application/json: {}
      parameters:
        - in: path
          name: subreddit
          schema:
            type: string
  '/r/{subreddit}/api/clearflairtemplates.json':
    post:
      operationId: POST_api_clearflairtemplates
      security:
        - redditOAuth:
            - modflair
      description: ''
      tags:
        - flair
      responses:
        '200':
          description: TODO
          content:
            application/json: {}
      parameters:
        - name: api_type
          in: query
          description: the string json
        - name: flair_type
          in: query
          description: 'one of (USER_FLAIR, LINK_FLAIR)'
        - name: uh / X-Modhash header
          in: query
          description: a modhash
        - in: path
          name: subreddit
          schema:
            type: string
  '/r/{subreddit}/api/deleteflair.json':
    post:
      operationId: POST_api_deleteflair
      security:
        - redditOAuth:
            - modflair
      description: ''
      tags:
        - flair
      responses:
        '200':
          description: TODO
          content:
            application/json: {}
      parameters:
        - name: api_type
          in: query
          description: the string json
        - name: name
          in: query
          description: a user by name
        - name: uh / X-Modhash header
          in: query
          description: a modhash
        - in: path
          name: subreddit
          schema:
            type: string
  '/r/{subreddit}/api/deleteflairtemplate.json':
    post:
      operationId: POST_api_deleteflairtemplate
      security:
        - redditOAuth:
            - modflair
      description: ''
      tags:
        - flair
      responses:
        '200':
          description: TODO
          content:
            application/json: {}
      parameters:
        - name: api_type
          in: query
          description: the string json
        - name: flair_template_id
          in: query
          description: ''
        - name: uh / X-Modhash header
          in: query
          description: a modhash
        - in: path
          name: subreddit
          schema:
            type: string
  '/r/{subreddit}/api/flair.json':
    post:
      operationId: POST_api_flair
      security:
        - redditOAuth:
            - modflair
      description: ''
      tags:
        - flair
      responses:
        '200':
          description: TODO
          content:
            application/json: {}
      parameters:
        - name: api_type
          in: query
          description: the string json
        - name: css_class
          in: query
          description: a valid subreddit image name
        - name: link
          in: query
          description: a fullname of a link
        - name: name
          in: query
          description: a user by name
        - name: text
          in: query
          description: a string no longer than 64 characters
        - name: uh / X-Modhash header
          in: query
          description: a modhash
        - in: path
          name: subreddit
          schema:
            type: string
  '/r/{subreddit}/api/flair_template_order.json':
    patch:
      operationId: PATCH_api_flair_template_order
      security:
        - redditOAuth:
            - modflair
      description: >-
        Update the order of flair templates in the specified subreddit. 

        Order should contain every single flair id for that flair type; omitting
        any id will result in a loss of data.
      tags:
        - flair
      responses:
        '200':
          description: TODO
          content:
            application/json: {}
      parameters:
        - name: flair_type
          in: query
          description: 'one of (USER_FLAIR, LINK_FLAIR)'
        - name: subreddit
          in: query
          description: subreddit name
        - name: uh / X-Modhash header
          in: query
          description: a modhash
        - in: path
          name: subreddit
          schema:
            type: string
  '/r/{subreddit}/api/flairconfig.json':
    post:
      operationId: POST_api_flairconfig
      security:
        - redditOAuth:
            - modflair
      description: ''
      tags:
        - flair
      responses:
        '200':
          description: TODO
          content:
            application/json: {}
      parameters:
        - name: api_type
          in: query
          description: the string json
        - name: flair_enabled
          in: query
          description: boolean value
        - name: flair_position
          in: query
          description: 'one of (left, right)'
        - name: flair_self_assign_enabled
          in: query
          description: boolean value
        - name: link_flair_position
          in: query
          description: 'one of (`,left,right`)'
        - name: link_flair_self_assign_enabled
          in: query
          description: boolean value
        - name: uh / X-Modhash header
          in: query
          description: a modhash
        - in: path
          name: subreddit
          schema:
            type: string
  '/r/{subreddit}/api/flaircsv.json':
    post:
      operationId: POST_api_flaircsv
      security:
        - redditOAuth:
            - modflair
      description: >-
        Change the flair of multiple users in the same subreddit with a single
        API call. 

        Requires a string 'flair_csv' which has up to 100 lines of the form
        'user,flairtext,cssclass' (Lines beyond the 100th are ignored). 

        If both cssclass and flairtext are the empty string for a given user,
        instead clears that user's flair. 

        Returns an array of objects indicating if each flair setting was
        applied, or a reason for the failure.
      tags:
        - flair
      responses:
        '200':
          description: TODO
          content:
            application/json: {}
      parameters:
        - name: flair_csv
          in: query
          description: comma-seperated flair information
        - name: uh / X-Modhash header
          in: query
          description: a modhash
        - in: path
          name: subreddit
          schema:
            type: string
  '/r/{subreddit}/api/flairlist.json':
    get:
      operationId: GET_api_flairlist
      security:
        - redditOAuth:
            - modflair
      description: This endpoint is a listing.
      tags:
        - flair
      responses:
        '200':
          description: TODO
          content:
            application/json: {}
      parameters:
        - name: after
          in: query
          description: fullname of a thing
        - name: before
          in: query
          description: fullname of a thing
        - name: count
          in: query
          description: 'a positive integer (default: 0)'
        - name: limit
          in: query
          description: 'the maximum number of items desired (default: 25, maximum: 1000)'
        - name: name
          in: query
          description: a user by name
        - name: show
          in: query
          description: (optional) the string all
        - name: sr_detail
          in: query
          description: (optional) expand subreddits
        - in: path
          name: subreddit
          schema:
            type: string
  '/r/{subreddit}/api/flairselector.json':
    post:
      operationId: POST_api_flairselector
      security:
        - redditOAuth:
            - flair
      description: >-
        Return information about a users's flair options. 

        If link is given, return link flair options for an existing link. If
        is_newlink is True, return link flairs options for a new link
        submission. Otherwise, return user flair options for this subreddit. 

        The logged in user's flair is also returned. Subreddit moderators may
        give a user by name to instead retrieve that user's flair.
      tags:
        - flair
      responses:
        '200':
          description: TODO
          content:
            application/json: {}
      parameters:
        - name: is_newlink
          in: query
          description: boolean value
        - name: link
          in: query
          description: a fullname of a link
        - name: name
          in: query
          description: a user by name
        - in: path
          name: subreddit
          schema:
            type: string
  '/r/{subreddit}/api/flairtemplate.json':
    post:
      operationId: POST_api_flairtemplate
      security:
        - redditOAuth:
            - modflair
      description: ''
      tags:
        - flair
      responses:
        '200':
          description: TODO
          content:
            application/json: {}
      parameters:
        - name: api_type
          in: query
          description: the string json
        - name: css_class
          in: query
          description: a valid subreddit image name
        - name: flair_template_id
          in: query
          description: ''
        - name: flair_type
          in: query
          description: 'one of (USER_FLAIR, LINK_FLAIR)'
        - name: text
          in: query
          description: a string no longer than 64 characters
        - name: text_editable
          in: query
          description: boolean value
        - name: uh / X-Modhash header
          in: query
          description: a modhash
        - in: path
          name: subreddit
          schema:
            type: string
  '/r/{subreddit}/api/flairtemplate_v2.json':
    post:
      operationId: POST_api_flairtemplate_v2
      security:
        - redditOAuth:
            - modflair
      description: |-
        Create or update a flair template. 
        This new endpoint is primarily used for the redesign.
      tags:
        - flair
      responses:
        '200':
          description: TODO
          content:
            application/json: {}
      parameters:
        - name: allowable_content
          in: query
          description: 'one of (all, emoji, text)'
        - name: api_type
          in: query
          description: the string json
        - name: background_color
          in: query
          description: 'a 6-digit rgb hex color, e.g. #AABBCC'
        - name: css_class
          in: query
          description: a valid subreddit image name
        - name: flair_template_id
          in: query
          description: ''
        - name: flair_type
          in: query
          description: 'one of (USER_FLAIR, LINK_FLAIR)'
        - name: max_emojis
          in: query
          description: 'an integer between 1 and 10 (default: 10)'
        - name: mod_only
          in: query
          description: boolean value
        - name: override_css
          in: query
          description: ''
        - name: text
          in: query
          description: a string no longer than 64 characters
        - name: text_color
          in: query
          description: 'one of (light, dark)'
        - name: text_editable
          in: query
          description: boolean value
        - name: uh / X-Modhash header
          in: query
          description: a modhash
        - in: path
          name: subreddit
          schema:
            type: string
  '/r/{subreddit}/api/link_flair.json':
    get:
      operationId: GET_api_link_flair
      security:
        - redditOAuth:
            - flair
      description: >-
        Return list of available link flair for the current subreddit. 

        Will not return flair if the user cannot set their own link flair and
        they are not a moderator that can set flair.
      tags:
        - flair
      responses:
        '200':
          description: TODO
          content:
            application/json: {}
      parameters:
        - in: path
          name: subreddit
          schema:
            type: string
  '/r/{subreddit}/api/link_flair_v2.json':
    get:
      operationId: GET_api_link_flair_v2
      security:
        - redditOAuth:
            - flair
      description: >-
        Return list of available link flair for the current subreddit. 

        Will not return flair if the user cannot set their own link flair and
        they are not a moderator that can set flair.
      tags:
        - flair
      responses:
        '200':
          description: TODO
          content:
            application/json: {}
      parameters:
        - in: path
          name: subreddit
          schema:
            type: string
  '/r/{subreddit}/api/selectflair.json':
    post:
      operationId: POST_api_selectflair
      security:
        - redditOAuth:
            - flair
      description: ''
      tags:
        - flair
      responses:
        '200':
          description: TODO
          content:
            application/json: {}
      parameters:
        - name: api_type
          in: query
          description: the string json
        - name: background_color
          in: query
          description: 'a 6-digit rgb hex color, e.g. #AABBCC'
        - name: css_class
          in: query
          description: a valid subreddit image name
        - name: flair_template_id
          in: query
          description: ''
        - name: link
          in: query
          description: a fullname of a link
        - name: name
          in: query
          description: a user by name
        - name: return_rtson
          in: query
          description: >-
            [all|only|none]: "all" saves attributes and returns rtjson "only"
            only returns rtjson"none" only saves attributes
        - name: text
          in: query
          description: a string no longer than 64 characters
        - name: text_color
          in: query
          description: 'one of (light, dark)'
        - name: uh / X-Modhash header
          in: query
          description: a modhash
        - in: path
          name: subreddit
          schema:
            type: string
  '/r/{subreddit}/api/setflairenabled.json':
    post:
      operationId: POST_api_setflairenabled
      security:
        - redditOAuth:
            - flair
      description: ''
      tags:
        - flair
      responses:
        '200':
          description: TODO
          content:
            application/json: {}
      parameters:
        - name: api_type
          in: query
          description: the string json
        - name: flair_enabled
          in: query
          description: boolean value
        - name: uh / X-Modhash header
          in: query
          description: a modhash
        - in: path
          name: subreddit
          schema:
            type: string
  '/r/{subreddit}/api/user_flair.json':
    get:
      operationId: GET_api_user_flair
      security:
        - redditOAuth:
            - flair
      description: >-
        Return list of available user flair for the current subreddit. 

        Will not return flair if flair is disabled on the subreddit, the user
        cannot set their own flair, or they are not a moderator that can set
        flair.
      tags:
        - flair
      responses:
        '200':
          description: TODO
          content:
            application/json: {}
      parameters:
        - in: path
          name: subreddit
          schema:
            type: string
  '/r/{subreddit}/api/user_flair_v2.json':
    get:
      operationId: GET_api_user_flair_v2
      security:
        - redditOAuth:
            - flair
      description: >-
        Return list of available user flair for the current subreddit. 

        If user is not a mod of the subreddit, this endpoint filters out
        mod_only templates.
      tags:
        - flair
      responses:
        '200':
          description: TODO
          content:
            application/json: {}
      parameters:
        - in: path
          name: subreddit
          schema:
            type: string
  '/api/v1/gold/gild/{fullname}.json':
    post:
      operationId: 'POST_api_v1_gold_gild_{fullname}'
      security:
        - redditOAuth:
            - creddits
      description: ''
      tags:
        - reddit gold
      responses:
        '200':
          description: TODO
          content:
            application/json: {}
      parameters:
        - name: fullname
          in: query
          description: fullname of a thing
        - in: path
          name: fullname
          schema:
            type: string
  '/api/v1/gold/give/{username}.json':
    post:
      operationId: 'POST_api_v1_gold_give_{username}'
      security:
        - redditOAuth:
            - creddits
      description: ''
      tags:
        - reddit gold
      responses:
        '200':
          description: TODO
          content:
            application/json: {}
      parameters:
        - name: months
          in: query
          description: an integer between 1 and 36
        - name: username
          in: query
          description: 'A valid, existing reddit username'
        - in: path
          name: username
          schema:
            type: string
  /api/comment.json:
    post:
      operationId: POST_api_comment
      security:
        - redditOAuth:
            - any
      description: >-
        Submit a new comment or reply to a message. 

        parent is the fullname of the thing being replied to. Its value changes
        the kind of object created by this request: 
         
        the fullname of a Link: a top-level comment in that Link's thread.
        (requires submit scope) 

        the fullname of a Comment: a comment reply to that comment. (requires
        submit scope) 

        the fullname of a Message: a message reply to that message. (requires
        privatemessages scope)  

        text should be the raw markdown body of the comment or message. 

        To start a new message thread, use /api/compose.
      tags:
        - links & comments
      responses:
        '200':
          description: TODO
          content:
            application/json: {}
      parameters:
        - name: api_type
          in: query
          description: the string json
        - name: return_rtjson
          in: query
          description: boolean value
        - name: richtext_json
          in: query
          description: JSON data
        - name: text
          in: query
          description: raw markdown text
        - name: thing_id
          in: query
          description: fullname of parent thing
        - name: uh / X-Modhash header
          in: query
          description: a modhash
  /api/del.json:
    post:
      operationId: POST_api_del
      security:
        - redditOAuth:
            - edit
      description: Delete a Link or Comment.
      tags:
        - links & comments
      responses:
        '200':
          description: TODO
          content:
            application/json: {}
      parameters:
        - name: id
          in: query
          description: fullname of a thing created by the user
        - name: uh / X-Modhash header
          in: query
          description: a modhash
  /api/editusertext.json:
    post:
      operationId: POST_api_editusertext
      security:
        - redditOAuth:
            - edit
      description: Edit the body text of a comment or self-post.
      tags:
        - links & comments
      responses:
        '200':
          description: TODO
          content:
            application/json: {}
      parameters:
        - name: api_type
          in: query
          description: the string json
        - name: return_rtjson
          in: query
          description: boolean value
        - name: richtext_json
          in: query
          description: JSON data
        - name: text
          in: query
          description: raw markdown text
        - name: thing_id
          in: query
          description: fullname of a thing
        - name: uh / X-Modhash header
          in: query
          description: a modhash
  /api/event_post_time.json:
    post:
      operationId: POST_api_event_post_time
      security:
        - redditOAuth:
            - modposts
      description: >-
        Add or modify post event times. To remove event info leave these fields
        empty.
      tags:
        - links & comments
      responses:
        '200':
          description: TODO
          content:
            application/json: {}
      parameters:
        - name: event_end
          in: query
          description: 'a datetime string e.g. 2018-09-11T12:00:00'
        - name: event_start
          in: query
          description: 'a datetime string e.g. 2018-09-11T12:00:00'
        - name: event_tz
          in: query
          description: a pytz timezone e.g. America/Los_Angeles
        - name: id
          in: query
          description: fullname of a link
        - name: uh / X-Modhash header
          in: query
          description: a modhash
  /api/follow_post.json:
    post:
      operationId: POST_api_follow_post
      security:
        - redditOAuth:
            - subscribe
      description: >-
        Follow or unfollow a post. 

        To follow, follow should be True. To unfollow, follow should be False.
        The user must have access to the subreddit to be able to follow a post
        within it.
      tags:
        - links & comments
      responses:
        '200':
          description: TODO
          content:
            application/json: {}
      parameters:
        - name: follow
          in: query
          description: 'boolean: True to follow or False to unfollow'
        - name: fullname
          in: query
          description: fullname of a link
        - name: uh / X-Modhash header
          in: query
          description: a modhash
  /api/hide.json:
    post:
      operationId: POST_api_hide
      security:
        - redditOAuth:
            - report
      description: |-
        Hide a link. 
        This removes it from the user's default view of subreddit listings. 
        See also: /api/unhide.
      tags:
        - links & comments
      responses:
        '200':
          description: TODO
          content:
            application/json: {}
      parameters:
        - name: id
          in: query
          description: A comma-separated list of link fullnames
        - name: uh / X-Modhash header
          in: query
          description: a modhash
  '/r/{subreddit}/api/info.json':
    get:
      operationId: GET_api_info
      security:
        - redditOAuth:
            - read
      description: |-
        Return a listing of things specified by their fullnames. 
        Only Links, Comments, and Subreddits are allowed.
      tags:
        - links & comments
      responses:
        '200':
          description: TODO
          content:
            application/json: {}
      parameters:
        - name: id
          in: query
          description: A comma-separated list of thing fullnames
        - name: sr_name
          in: query
          description: comma-delimited list of subreddit names
        - name: url
          in: query
          description: a valid URL
        - in: path
          name: subreddit
          schema:
            type: string
  /api/lock.json:
    post:
      operationId: POST_api_lock
      security:
        - redditOAuth:
            - modposts
      description: |-
        Lock a link or comment. 
        Prevents a post or new child comments from receiving new comments. 
        See also: /api/unlock.
      tags:
        - links & comments
      responses:
        '200':
          description: TODO
          content:
            application/json: {}
      parameters:
        - name: id
          in: query
          description: fullname of a thing
        - name: uh / X-Modhash header
          in: query
          description: a modhash
  /api/marknsfw.json:
    post:
      operationId: POST_api_marknsfw
      security:
        - redditOAuth:
            - modposts
      description: |-
        Mark a link NSFW. 
        See also: /api/unmarknsfw.
      tags:
        - links & comments
      responses:
        '200':
          description: TODO
          content:
            application/json: {}
      parameters:
        - name: id
          in: query
          description: fullname of a thing
        - name: uh / X-Modhash header
          in: query
          description: a modhash
  /api/morechildren.json:
    get:
      operationId: GET_api_morechildren
      security:
        - redditOAuth:
            - read
      description: >-
        Retrieve additional comments omitted from a base comment tree. 

        When a comment tree is rendered, the most relevant comments are selected
        for display first. Remaining comments are stubbed out with
        "MoreComments" links. This API call is used to retrieve the additional
        comments represented by those stubs, up to 100 at a time. 

        The two core parameters required are link and children. link is the
        fullname of the link whose comments are being fetched. children is a
        comma-delimited list of comment ID36s that need to be fetched. 

        If id is passed, it should be the ID of the MoreComments object this
        call is replacing. This is needed only for the HTML UI's purposes and is
        optional otherwise. 

        NOTE: you may only make one request at a time to this API endpoint.
        Higher concurrency will result in an error being returned. 

        If limit_children is True, only return the children requested. 

        depth is the maximum depth of subtrees in the thread.
      tags:
        - links & comments
      responses:
        '200':
          description: TODO
          content:
            application/json: {}
      parameters:
        - name: api_type
          in: query
          description: the string json
        - name: children
          in: query
          description: ''
        - name: depth
          in: query
          description: (optional) an integer
        - name: id
          in: query
          description: (optional) id of the associated MoreChildren object
        - name: limit_children
          in: query
          description: boolean value
        - name: link_id
          in: query
          description: fullname of a link
        - name: sort
          in: query
          description: 'one of (confidence, top, new, controversial, old, random, qa, live)'
  /api/report.json:
    post:
      operationId: POST_api_report
      security:
        - redditOAuth:
            - report
      description: >-
        Report a link, comment or message. Reporting a thing brings it to the
        attention of the subreddit's moderators. Reporting a message sends it to
        a system for admin review. For links and comments, the thing is
        implicitly hidden as well (see /api/hide for details). 

        See /r/{subreddit}/about/rules for for more about subreddit rules, and
        /r/{subreddit}/about for more about free_form_reports.
      tags:
        - links & comments
      responses:
        '200':
          description: TODO
          content:
            application/json: {}
      parameters:
        - name: additional_info
          in: query
          description: a string no longer than 2000 characters
        - name: api_type
          in: query
          description: the string json
        - name: custom_text
          in: query
          description: a string no longer than 2000 characters
        - name: from_help_desk
          in: query
          description: boolean value
        - name: from_modmail
          in: query
          description: boolean value
        - name: modmail_conv_id
          in: query
          description: base36 modmail conversation id
        - name: other_reason
          in: query
          description: a string no longer than 100 characters
        - name: reason
          in: query
          description: a string no longer than 100 characters
        - name: rule_reason
          in: query
          description: a string no longer than 100 characters
        - name: site_reason
          in: query
          description: a string no longer than 100 characters
        - name: sr_name
          in: query
          description: a string no longer than 1000 characters
        - name: thing_id
          in: query
          description: fullname of a thing
        - name: uh / X-Modhash header
          in: query
          description: a modhash
        - name: usernames
          in: query
          description: A comma-separated list of items
  /api/report_award.json:
    post:
      operationId: POST_api_report_award
      security:
        - redditOAuth:
            - report
      description: >-
        Report an award. Reporting an award brings it to the attention of a
        Reddit admin.
      tags:
        - links & comments
      responses:
        '200':
          description: TODO
          content:
            application/json: {}
      parameters:
        - name: award_id
          in: query
          description: a string
        - name: reason
          in: query
          description: a string no longer than 100 characters
  /api/save.json:
    post:
      operationId: POST_api_save
      security:
        - redditOAuth:
            - save
      description: |-
        Save a link or comment. 
        Saved things are kept in the user's saved listing for later perusal. 
        See also: /api/unsave.
      tags:
        - links & comments
      responses:
        '200':
          description: TODO
          content:
            application/json: {}
      parameters:
        - name: category
          in: query
          description: a category name
        - name: id
          in: query
          description: fullname of a thing
        - name: uh / X-Modhash header
          in: query
          description: a modhash
  /api/saved_categories.json:
    get:
      operationId: GET_api_saved_categories
      security:
        - redditOAuth:
            - save
      description: |-
        Get a list of categories in which things are currently saved. 
        See also: /api/save.
      tags:
        - links & comments
      responses:
        '200':
          description: TODO
          content:
            application/json: {}
      parameters: []
  /api/sendreplies.json:
    post:
      operationId: POST_api_sendreplies
      security:
        - redditOAuth:
            - edit
      description: >-
        Enable or disable inbox replies for a link or comment. 

        state is a boolean that indicates whether you are enabling or disabling
        inbox replies - true to enable, false to disable.
      tags:
        - links & comments
      responses:
        '200':
          description: TODO
          content:
            application/json: {}
      parameters:
        - name: id
          in: query
          description: fullname of a thing created by the user
        - name: state
          in: query
          description: boolean value
        - name: uh / X-Modhash header
          in: query
          description: a modhash
  /api/set_contest_mode.json:
    post:
      operationId: POST_api_set_contest_mode
      security:
        - redditOAuth:
            - modposts
      description: >-
        Set or unset "contest mode" for a link's comments. 

        state is a boolean that indicates whether you are enabling or disabling
        contest mode - true to enable, false to disable.
      tags:
        - links & comments
      responses:
        '200':
          description: TODO
          content:
            application/json: {}
      parameters:
        - name: api_type
          in: query
          description: the string json
        - name: id
          in: query
          description: ''
        - name: state
          in: query
          description: boolean value
        - name: uh / X-Modhash header
          in: query
          description: a modhash
  /api/set_subreddit_sticky.json:
    post:
      operationId: POST_api_set_subreddit_sticky
      security:
        - redditOAuth:
            - modposts
      description: >-
        Set or unset a Link as the sticky in its subreddit. 

        state is a boolean that indicates whether to sticky or unsticky this
        post - true to sticky, false to unsticky. 

        The num argument is optional, and only used when stickying a post. It
        allows specifying a particular "slot" to sticky the post into, and if
        there is already a post stickied in that slot it will be replaced. If
        there is no post in the specified slot to replace, or num is None, the
        bottom-most slot will be used.
      tags:
        - links & comments
      responses:
        '200':
          description: TODO
          content:
            application/json: {}
      parameters:
        - name: api_type
          in: query
          description: the string json
        - name: id
          in: query
          description: ''
        - name: num
          in: query
          description: an integer between 1 and 4
        - name: state
          in: query
          description: boolean value
        - name: to_profile
          in: query
          description: boolean value
        - name: uh / X-Modhash header
          in: query
          description: a modhash
  /api/set_suggested_sort.json:
    post:
      operationId: POST_api_set_suggested_sort
      security:
        - redditOAuth:
            - modposts
      description: >-
        Set a suggested sort for a link. 

        Suggested sorts are useful to display comments in a certain preferred
        way for posts. For example, casual conversation may be better sorted by
        new by default, or AMAs may be sorted by Q&A. A sort of an empty string
        clears the default sort.
      tags:
        - links & comments
      responses:
        '200':
          description: TODO
          content:
            application/json: {}
      parameters:
        - name: api_type
          in: query
          description: the string json
        - name: id
          in: query
          description: ''
        - name: sort
          in: query
          description: >-
            one of (confidence, top, new, controversial, old, random, qa, live,
            blank)
        - name: uh / X-Modhash header
          in: query
          description: a modhash
  /api/spoiler.json:
    post:
      operationId: POST_api_spoiler
      security:
        - redditOAuth:
            - modposts
      description: ''
      tags:
        - links & comments
      responses:
        '200':
          description: TODO
          content:
            application/json: {}
      parameters:
        - name: id
          in: query
          description: fullname of a link
        - name: uh / X-Modhash header
          in: query
          description: a modhash
  /api/store_visits.json:
    post:
      operationId: POST_api_store_visits
      security:
        - redditOAuth:
            - save
      description: '*Requires a subscription to [reddit premium]'
      tags:
        - links & comments
      responses:
        '200':
          description: TODO
          content:
            application/json: {}
      parameters:
        - name: links
          in: query
          description: A comma-separated list of link fullnames
        - name: uh / X-Modhash header
          in: query
          description: a modhash
  /api/submit.json:
    post:
      operationId: POST_api_submit
      security:
        - redditOAuth:
            - submit
      description: >-
        Submit a link to a subreddit. 

        Submit will create a link or self-post in the subreddit sr with the
        title title. If kind is "link", then url is expected to be a valid URL
        to link to. Otherwise, text, if present, will be the body of the
        self-post unless richtext_json is present, in which case it will be
        converted into the body of the self-post. An error is thrown if both
        text and richtext_json are present. 

        If a link with the same URL has already been submitted to the specified
        subreddit an error will be returned unless resubmit is true. extension
        is used for determining which view-type (e.g. json, compact etc.) to use
        for the redirect that is generated if the resubmit error occurs.
      tags:
        - links & comments
      responses:
        '200':
          description: TODO
          content:
            application/json: {}
      parameters:
        - name: ad
          in: query
          description: boolean value
        - name: api_type
          in: query
          description: the string json
        - name: app
          in: query
          description: ''
        - name: collection_id
          in: query
          description: (beta) the UUID of a collection
        - name: event_end
          in: query
          description: '(beta) a datetime string e.g. 2018-09-11T12:00:00'
        - name: event_start
          in: query
          description: '(beta) a datetime string e.g. 2018-09-11T12:00:00'
        - name: event_tz
          in: query
          description: (beta) a pytz timezone e.g. America/Los_Angeles
        - name: extension
          in: query
          description: extension used for redirects
        - name: flair_id
          in: query
          description: a string no longer than 36 characters
        - name: flair_text
          in: query
          description: a string no longer than 64 characters
        - name: g-recaptcha-response
          in: query
          description: ''
        - name: kind
          in: query
          description: 'one of (link, self, image, video, videogif)'
        - name: nsfw
          in: query
          description: boolean value
        - name: post_set_default_post_id
          in: query
          description: a string
        - name: post_set_id
          in: query
          description: a string
        - name: resubmit
          in: query
          description: boolean value
        - name: richtext_json
          in: query
          description: JSON data
        - name: sendreplies
          in: query
          description: boolean value
        - name: spoiler
          in: query
          description: boolean value
        - name: sr
          in: query
          description: subreddit name
        - name: text
          in: query
          description: raw markdown text
        - name: title
          in: query
          description: title of the submission. up to 300 characters long
        - name: uh / X-Modhash header
          in: query
          description: a modhash
        - name: url
          in: query
          description: a valid URL
        - name: video_poster_url
          in: query
          description: a valid URL
  /api/unhide.json:
    post:
      operationId: POST_api_unhide
      security:
        - redditOAuth:
            - report
      description: |-
        Unhide a link. 
        See also: /api/hide.
      tags:
        - links & comments
      responses:
        '200':
          description: TODO
          content:
            application/json: {}
      parameters:
        - name: id
          in: query
          description: A comma-separated list of link fullnames
        - name: uh / X-Modhash header
          in: query
          description: a modhash
  /api/unlock.json:
    post:
      operationId: POST_api_unlock
      security:
        - redditOAuth:
            - modposts
      description: |-
        Unlock a link or comment. 
        Allow a post or comment to receive new comments. 
        See also: /api/lock.
      tags:
        - links & comments
      responses:
        '200':
          description: TODO
          content:
            application/json: {}
      parameters:
        - name: id
          in: query
          description: fullname of a thing
        - name: uh / X-Modhash header
          in: query
          description: a modhash
  /api/unmarknsfw.json:
    post:
      operationId: POST_api_unmarknsfw
      security:
        - redditOAuth:
            - modposts
      description: |-
        Remove the NSFW marking from a link. 
        See also: /api/marknsfw.
      tags:
        - links & comments
      responses:
        '200':
          description: TODO
          content:
            application/json: {}
      parameters:
        - name: id
          in: query
          description: fullname of a thing
        - name: uh / X-Modhash header
          in: query
          description: a modhash
  /api/unsave.json:
    post:
      operationId: POST_api_unsave
      security:
        - redditOAuth:
            - save
      description: |-
        Unsave a link or comment. 
        This removes the thing from the user's saved listings as well. 
        See also: /api/save.
      tags:
        - links & comments
      responses:
        '200':
          description: TODO
          content:
            application/json: {}
      parameters:
        - name: id
          in: query
          description: fullname of a thing
        - name: uh / X-Modhash header
          in: query
          description: a modhash
  /api/unspoiler.json:
    post:
      operationId: POST_api_unspoiler
      security:
        - redditOAuth:
            - modposts
      description: ''
      tags:
        - links & comments
      responses:
        '200':
          description: TODO
          content:
            application/json: {}
      parameters:
        - name: id
          in: query
          description: fullname of a link
        - name: uh / X-Modhash header
          in: query
          description: a modhash
  /api/vote.json:
    post:
      operationId: POST_api_vote
      security:
        - redditOAuth:
            - vote
      description: >-
        Cast a vote on a thing. 

        id should be the fullname of the Link or Comment to vote on. 

        dir indicates the direction of the vote. Voting 1 is an upvote, -1 is a
        downvote, and 0 is equivalent to "un-voting" by clicking again on a
        highlighted arrow. 

        Note: votes must be cast by humans. That is, API clients proxying a
        human's action one-for-one are OK, but bots deciding how to vote on
        content or amplifying a human's vote are not. See the reddit rules for
        more details on what constitutes vote cheating.
      tags:
        - links & comments
      responses:
        '200':
          description: TODO
          content:
            application/json: {}
      parameters:
        - name: dir
          in: query
          description: 'vote direction. one of (1, 0, -1)'
        - name: id
          in: query
          description: fullname of a thing
        - name: rank
          in: query
          description: an integer greater than 1
        - name: uh / X-Modhash header
          in: query
          description: a modhash
  '/best{read}.json':
    get:
      operationId: GET_best
      security:
        - redditOAuth:
            - read
      description: This endpoint is a listing.
      tags:
        - listings
      responses:
        '200':
          description: TODO
          content:
            application/json: {}
      parameters:
        - name: after
          in: query
          description: fullname of a thing
        - name: before
          in: query
          description: fullname of a thing
        - name: count
          in: query
          description: 'a positive integer (default: 0)'
        - name: limit
          in: query
          description: 'the maximum number of items desired (default: 25, maximum: 100)'
        - name: show
          in: query
          description: (optional) the string all
        - name: sr_detail
          in: query
          description: (optional) expand subreddits
        - in: path
          name: read
          schema:
            type: string
  '/by_id/{names}.json':
    get:
      operationId: 'GET_by_id_{names}'
      security:
        - redditOAuth:
            - read
      description: |-
        Get a listing of links by fullname. 
        names is a list of fullnames for links separated by commas or spaces.
      tags:
        - listings
      responses:
        '200':
          description: TODO
          content:
            application/json: {}
      parameters:
        - name: names
          in: query
          description: A comma-separated list of link fullnames
        - in: path
          name: names
          schema:
            type: string
  '/r/{subreddit}/comments/{article}{read}.json':
    get:
      operationId: 'GET_comments_{article}'
      security:
        - redditOAuth:
            - read
      description: >-
        Get the comment tree for a given Link article. 

        If supplied, comment is the ID36 of a comment in the comment tree for
        article. This comment will be the (highlighted) focal point of the
        returned view and context will be the number of parents shown. 

        depth is the maximum depth of subtrees in the thread. 

        limit is the maximum number of comments to return. 

        See also: /api/morechildren and /api/comment.
      tags:
        - listings
      responses:
        '200':
          description: TODO
          content:
            application/json: {}
      parameters:
        - name: article
          in: query
          description: ID36 of a link
        - name: comment
          in: query
          description: (optional) ID36 of a comment
        - name: context
          in: query
          description: an integer between 0 and 8
        - name: depth
          in: query
          description: (optional) an integer
        - name: limit
          in: query
          description: (optional) an integer
        - name: showedits
          in: query
          description: boolean value
        - name: showmedia
          in: query
          description: boolean value
        - name: showmore
          in: query
          description: boolean value
        - name: showtitle
          in: query
          description: boolean value
        - name: sort
          in: query
          description: 'one of (confidence, top, new, controversial, old, random, qa, live)'
        - name: sr_detail
          in: query
          description: (optional) expand subreddits
        - name: theme
          in: query
          description: 'one of (default, dark)'
        - name: threaded
          in: query
          description: boolean value
        - name: truncate
          in: query
          description: an integer between 0 and 50
        - in: path
          name: subreddit
          schema:
            type: string
        - in: path
          name: article
          schema:
            type: string
        - in: path
          name: read
          schema:
            type: string
  '/duplicates/{article}{read}.json':
    get:
      operationId: 'GET_duplicates_{article}'
      security:
        - redditOAuth:
            - read
      description: |-
        Return a list of other submissions of the same URL 
        This endpoint is a listing.
      tags:
        - listings
      responses:
        '200':
          description: TODO
          content:
            application/json: {}
      parameters:
        - name: after
          in: query
          description: fullname of a thing
        - name: article
          in: query
          description: The base 36 ID of a Link
        - name: before
          in: query
          description: fullname of a thing
        - name: count
          in: query
          description: 'a positive integer (default: 0)'
        - name: crossposts_only
          in: query
          description: boolean value
        - name: limit
          in: query
          description: 'the maximum number of items desired (default: 25, maximum: 100)'
        - name: show
          in: query
          description: (optional) the string all
        - name: sort
          in: query
          description: 'one of (num_comments, new)'
        - name: sr
          in: query
          description: subreddit name
        - name: sr_detail
          in: query
          description: (optional) expand subreddits
        - in: path
          name: article
          schema:
            type: string
        - in: path
          name: read
          schema:
            type: string
  '/r/{subreddit}/hot{read}.json':
    get:
      operationId: GET_hot
      security:
        - redditOAuth:
            - read
      description: This endpoint is a listing.
      tags:
        - listings
      responses:
        '200':
          description: TODO
          content:
            application/json: {}
      parameters:
        - name: g
          in: query
          description: >-
            one of (GLOBAL, US, AR, AU, BG, CA, CL, CO, HR, CZ, FI, FR, DE, GR,
            HU, IS, IN, IE, IT, JP, MY, MX, NZ, PH, PL, PT, PR, RO, RS, SG, ES,
            SE, TW, TH, TR, GB, US_WA, US_DE, US_DC, US_WI, US_WV, US_HI, US_FL,
            US_WY, US_NH, US_NJ, US_NM, US_TX, US_LA, US_NC, US_ND, US_NE,
            US_TN, US_NY, US_PA, US_CA, US_NV, US_VA, US_CO, US_AK, US_AL,
            US_AR, US_VT, US_IL, US_GA, US_IN, US_IA, US_OK, US_AZ, US_ID,
            US_CT, US_ME, US_MD, US_MA, US_OH, US_UT, US_MO, US_MN, US_MI,
            US_RI, US_KS, US_MT, US_MS, US_SC, US_KY, US_OR, US_SD)
        - name: after
          in: query
          description: fullname of a thing
        - name: before
          in: query
          description: fullname of a thing
        - name: count
          in: query
          description: 'a positive integer (default: 0)'
        - name: limit
          in: query
          description: 'the maximum number of items desired (default: 25, maximum: 100)'
        - name: show
          in: query
          description: (optional) the string all
        - name: sr_detail
          in: query
          description: (optional) expand subreddits
        - in: path
          name: subreddit
          schema:
            type: string
        - in: path
          name: read
          schema:
            type: string
  '/r/{subreddit}/new{read}.json':
    get:
      operationId: GET_new
      security:
        - redditOAuth:
            - read
      description: This endpoint is a listing.
      tags:
        - listings
      responses:
        '200':
          description: TODO
          content:
            application/json: {}
      parameters:
        - name: after
          in: query
          description: fullname of a thing
        - name: before
          in: query
          description: fullname of a thing
        - name: count
          in: query
          description: 'a positive integer (default: 0)'
        - name: limit
          in: query
          description: 'the maximum number of items desired (default: 25, maximum: 100)'
        - name: show
          in: query
          description: (optional) the string all
        - name: sr_detail
          in: query
          description: (optional) expand subreddits
        - in: path
          name: subreddit
          schema:
            type: string
        - in: path
          name: read
          schema:
            type: string
  '/r/{subreddit}/random.json':
    get:
      operationId: GET_random
      security:
        - redditOAuth:
            - read
      description: The Serendipity button
      tags:
        - listings
      responses:
        '200':
          description: TODO
          content:
            application/json: {}
      parameters:
        - in: path
          name: subreddit
          schema:
            type: string
  '/r/{subreddit}/rising{read}.json':
    get:
      operationId: GET_rising
      security:
        - redditOAuth:
            - read
      description: This endpoint is a listing.
      tags:
        - listings
      responses:
        '200':
          description: TODO
          content:
            application/json: {}
      parameters:
        - name: after
          in: query
          description: fullname of a thing
        - name: before
          in: query
          description: fullname of a thing
        - name: count
          in: query
          description: 'a positive integer (default: 0)'
        - name: limit
          in: query
          description: 'the maximum number of items desired (default: 25, maximum: 100)'
        - name: show
          in: query
          description: (optional) the string all
        - name: sr_detail
          in: query
          description: (optional) expand subreddits
        - in: path
          name: subreddit
          schema:
            type: string
        - in: path
          name: read
          schema:
            type: string
  '/r/{subreddit}/top.json':
    get:
      operationId: GET_top
      security: &ref_10
        - redditOAuth:
            - read
      description: This endpoint is a listing.
      tags: &ref_11
        - listings
      responses: &ref_12
        '200':
          description: TODO
          content:
            application/json: {}
      parameters:
        - in: path
          name: subreddit
          schema:
            type: string
        - &ref_13
          name: t
          in: query
          description: 'one of (hour, day, week, month, year, all)'
        - &ref_14
          name: after
          in: query
          description: fullname of a thing
        - &ref_15
          name: before
          in: query
          description: fullname of a thing
        - &ref_16
          name: count
          in: query
          description: 'a positive integer (default: 0)'
        - &ref_17
          name: limit
          in: query
          description: 'the maximum number of items desired (default: 25, maximum: 100)'
        - &ref_18
          name: show
          in: query
          description: (optional) the string all
        - &ref_19
          name: sr_detail
          in: query
          description: (optional) expand subreddits
  '/r/{subreddit}/controversial.json':
    get:
      operationId: GET_controversial
      security: *ref_10
      description: This endpoint is a listing.
      tags: *ref_11
      responses: *ref_12
      parameters:
        - in: path
          name: subreddit
          schema:
            type: string
        - *ref_13
        - *ref_14
        - *ref_15
        - *ref_16
        - *ref_17
        - *ref_18
        - *ref_19
  '/api/live/by_id/{names}.json':
    get:
      operationId: 'GET_api_live_by_id_{names}'
      security:
        - redditOAuth:
            - read
      description: Get a listing of live events by id.
      tags:
        - live threads
      responses:
        '200':
          description: TODO
          content:
            application/json: {}
      parameters:
        - name: names
          in: query
          description: a comma-delimited list of live thread fullnames or IDs
        - in: path
          name: names
          schema:
            type: string
  /api/live/create.json:
    post:
      operationId: POST_api_live_create
      security:
        - redditOAuth:
            - submit
      description: >-
        Create a new live thread. 

        Once created, the initial settings can be modified with
        /api/live/thread/edit and new updates can be posted with
        /api/live/thread/update.
      tags:
        - live threads
      responses:
        '200':
          description: TODO
          content:
            application/json: {}
      parameters:
        - name: api_type
          in: query
          description: the string json
        - name: description
          in: query
          description: raw markdown text
        - name: nsfw
          in: query
          description: boolean value
        - name: resources
          in: query
          description: raw markdown text
        - name: title
          in: query
          description: a string no longer than 120 characters
        - name: uh / X-Modhash header
          in: query
          description: a modhash
  /api/live/happening_now.json:
    get:
      operationId: GET_api_live_happening_now
      security:
        - redditOAuth:
            - read
      description: >-
        Get some basic information about the currently featured live thread. 

        Returns an empty 204 response for api requests if no thread is currently
        featured. 

        See also: /api/live/thread/about.
      tags:
        - live threads
      responses:
        '200':
          description: TODO
          content:
            application/json: {}
      parameters:
        - name: show_announcements
          in: query
          description: boolean value
  '/api/live/{thread}/accept_contributor_invite.json':
    post:
      operationId: 'POST_api_live_{thread}_accept_contributor_invite'
      security:
        - redditOAuth:
            - livemanage
      description: |-
        Accept a pending invitation to contribute to the thread. 
        See also: /api/live/thread/leave_contributor.
      tags:
        - live threads
      responses:
        '200':
          description: TODO
          content:
            application/json: {}
      parameters:
        - name: api_type
          in: query
          description: the string json
        - name: uh / X-Modhash header
          in: query
          description: a modhash
        - in: path
          name: thread
          schema:
            type: string
  '/api/live/{thread}/close_thread.json':
    post:
      operationId: 'POST_api_live_{thread}_close_thread'
      security:
        - redditOAuth:
            - livemanage
      description: |-
        Permanently close the thread, disallowing future updates. 
        Requires the close permission for this thread.
      tags:
        - live threads
      responses:
        '200':
          description: TODO
          content:
            application/json: {}
      parameters:
        - name: api_type
          in: query
          description: the string json
        - name: uh / X-Modhash header
          in: query
          description: a modhash
        - in: path
          name: thread
          schema:
            type: string
  '/api/live/{thread}/delete_update.json':
    post:
      operationId: 'POST_api_live_{thread}_delete_update'
      security:
        - redditOAuth:
            - edit
      description: >-
        Delete an update from the thread. 

        Requires that specified update must have been authored by the user or
        that you have the edit permission for this thread. 

        See also: /api/live/thread/update.
      tags:
        - live threads
      responses:
        '200':
          description: TODO
          content:
            application/json: {}
      parameters:
        - name: api_type
          in: query
          description: the string json
        - name: id
          in: query
          description: >-
            the ID of a single update. e.g.
            LiveUpdate_ff87068e-a126-11e3-9f93-12313b0b3603
        - name: uh / X-Modhash header
          in: query
          description: a modhash
        - in: path
          name: thread
          schema:
            type: string
  '/api/live/{thread}/edit.json':
    post:
      operationId: 'POST_api_live_{thread}_edit'
      security:
        - redditOAuth:
            - livemanage
      description: |-
        Configure the thread. 
        Requires the settings permission for this thread. 
        See also: /live/thread/about.json.
      tags:
        - live threads
      responses:
        '200':
          description: TODO
          content:
            application/json: {}
      parameters:
        - name: api_type
          in: query
          description: the string json
        - name: description
          in: query
          description: raw markdown text
        - name: nsfw
          in: query
          description: boolean value
        - name: resources
          in: query
          description: raw markdown text
        - name: title
          in: query
          description: a string no longer than 120 characters
        - name: uh / X-Modhash header
          in: query
          description: a modhash
        - in: path
          name: thread
          schema:
            type: string
  '/api/live/{thread}/hide_discussion.json':
    post:
      operationId: 'POST_api_live_{thread}_hide_discussion'
      security:
        - redditOAuth:
            - livemanage
      description: |-
        Hide a linked comment thread from the discussions sidebar and listing. 
        Requires the discussions permission for this thread. 
        See also: /api/live/thread/unhide_discussion.
      tags:
        - live threads
      responses:
        '200':
          description: TODO
          content:
            application/json: {}
      parameters:
        - name: api_type
          in: query
          description: the string json
        - name: link
          in: query
          description: The base 36 ID of a Link
        - name: uh / X-Modhash header
          in: query
          description: a modhash
        - in: path
          name: thread
          schema:
            type: string
  '/api/live/{thread}/invite_contributor.json':
    post:
      operationId: 'POST_api_live_{thread}_invite_contributor'
      security:
        - redditOAuth:
            - livemanage
      description: >-
        Invite another user to contribute to the thread. 

        Requires the manage permission for this thread. If the recipient accepts
        the invite, they will be granted the permissions specified. 

        See also: /api/live/thread/accept_contributor_invite, and
        /api/live/thread/rm_contributor_invite.
      tags:
        - live threads
      responses:
        '200':
          description: TODO
          content:
            application/json: {}
      parameters:
        - name: api_type
          in: query
          description: the string json
        - name: name
          in: query
          description: the name of an existing user
        - name: permissions
          in: query
          description: 'permission description e.g. +update,+edit,-manage'
        - name: type
          in: query
          description: 'one of (liveupdate_contributor_invite, liveupdate_contributor)'
        - name: uh / X-Modhash header
          in: query
          description: a modhash
        - in: path
          name: thread
          schema:
            type: string
  '/api/live/{thread}/leave_contributor.json':
    post:
      operationId: 'POST_api_live_{thread}_leave_contributor'
      security:
        - redditOAuth:
            - livemanage
      description: >-
        Abdicate contributorship of the thread. 

        See also: /api/live/thread/accept_contributor_invite, and
        /api/live/thread/invite_contributor.
      tags:
        - live threads
      responses:
        '200':
          description: TODO
          content:
            application/json: {}
      parameters:
        - name: api_type
          in: query
          description: the string json
        - name: uh / X-Modhash header
          in: query
          description: a modhash
        - in: path
          name: thread
          schema:
            type: string
  '/api/live/{thread}/report.json':
    post:
      operationId: 'POST_api_live_{thread}_report'
      security:
        - redditOAuth:
            - report
      description: Report the thread for violating the rules of reddit.
      tags:
[...]
